# Dependencias
node_modules/

# Directorio de compilación
dist/

# Archivos de log y caché (comunes en Node)
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Variables de entorno (si creas un archivo .env más adelante)
.env
.env.local
